<div class="container">
  <h2>Liste des prestations</h2>

  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type de service</th>
        <th>Nombre de jours</th>
        <th>TVA</th>
        <th>Total hors taxe</th>
        <th>État</th>
        <th>Commentaire</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.serviceType }}</td>
        <td>{{ order.nbDays }}</td>
        <td>{{ order.tva }}</td>
        <td>{{ order.totalExcludeTax }}</td>
        <td>{{ order.state }}</td>
        <td>{{ order.comment || 'N/A' }}</td>
      </tr>
    </tbody>
  </table>
</div>
